<div id="canvasContainer">
  <span class="functionalsBtnsTemplate">
    <button title="Сохранить комнату" (click)="saveRoom()">
      <p>Сохранить</p>
    </button>
    <span>
      <button title="Удалить мебель" (click)="deleteModel()" *ngIf="targetobject!==undefined">
        <p>Удалить</p>
        <img src="/assets/images/deleteIcon.svg" alt="">
      </button>
      <button title="Скачать отчет по комнате" (click)="getReport()" *ngIf="targetobject===undefined">
        <p>Отчет</p>
        <img src="/assets/images/uploadIcon.png" alt="">
      </button>
    </span>
  </span>
</div>

<div *ngIf="isShowLoader" class="loader">
  <span class="loaderSpan">
    <span class="spinnerSpan">
      <div class="spinner"></div>
      <button (click)="abortLoadRoom()" title="Отменить загрузку">
        <img src="/assets/images/addIcon.svg" alt="">
      </button>
    </span>
      <p class="loadingModelsAlert">Загрузка моделей...</p>
      <p class="freezeBrowserAlert">Возможны подвисания</p>
  </span>
</div>