@use 'spinner.scss' as *;
@use 'base.scss' as *;

:host {
    display: block;
    height: 100%;
}

.funcBtnsSpan {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    gap: 10px;
}

.funcBtn {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: arial;
    font-weight: 1000;
    width: 25vw;
    cursor: pointer;
}

#canvasContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100% - 55px) 50px;
    gap: 5px;
}

.functionalsBtnsTemplate {
    grid-area: 2 / 1 / 3 / 2;
    width: 410px;
    height: 50px;
    justify-self: center;
    overflow: hidden;
    display: flex;
    gap: 10px;

    button {
        width: 200px;
        height: 100%;

        justify-content: center;
        background-color: black;
        border-radius: 10px;
        border: 2px solid rgba($lightGreen, 0.5);
        cursor: pointer;
        transition: border 0.3s ease-in-out;
        display: flex;
        gap:10px;
        align-items: center;

        p {
            color: white;
            font-size: 18px;
        }

        img {
            height: 27px;
            margin-bottom: 3px;
        }

        &:hover {
            border: 2px solid rgba($lightGreen, 0.8);
        }
    }
}