@import 'base.scss';

app-navigation-panel {
    margin-top: 30px;
}

.body {
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
}

.accountSpan {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    margin-top: 30px;
    gap: 20px
}

.mainInformationCard {
    width: calc(100% - 40px);
    background-color: black;
    border-radius: 20px 20px 25px 25px;
    box-shadow: 0 0 10px 0 white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: flex-start;
    z-index: 1;
}

.projectsSpanCard {
    width: calc(100% - 60px);
    background-color: black;
    z-index: 0;
    display: flex;
    min-height: 50vh;
    box-shadow: 0 0 10px 0 white;
    border-radius: 15px;
    padding: 0px 30px;
    padding-bottom: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.accountAvatarSpan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    align-self: flex-start;
    width: 40%;
    aspect-ratio: 1;
    position: relative;
}

.accountAvatarImage {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1
}

.avatarEditBtn {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $darkGreen;
    display: grid;
    place-items: center;
    grid-area: 1/1/2/2;
    place-self: end;
    margin-bottom: 7%;
    margin-right: 7%;

}

.avatarEditBtn:focus-visible {
    // border:5px solid blue;
}

.editAvatarInput {
    grid-area: 1/1/2/2;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.avatarEditBtn:focus-within .avatarLabel {
    outline: 2px solid white;
}

.avatarLabel {
    grid-area: 1/1/2/2;
    background-color: $darkGreen;
    width: 100%;
    aspect-ratio: 1;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid black;
}


.avatarEditBtn>img {
    width: 50%;
    z-index: 2;
    grid-area: 1/1/2/2;
    pointer-events: none;
}

.mainInformationSpan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 90%;
    width: 50%;
}

.mainInformationEditBtn {
    grid-area: 1/1/2/2;
    width: 30px;
    aspect-ratio: 1;
    border: none;
    background: none;
    justify-self: end;
    cursor: pointer;
    z-index: 1;
}

.informationTextSpan {
    color: white;
    grid-area: 1/1/2/2;
}

.informationTextSpan {
    font-size: 1.25vw;
}

.accountName {
    font-size: 1.5em;
    font-weight: bold;
}

.accountInformationBlock {
    font-size: 1em;
}

.projectCard {
    width: 40%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    margin-top: 20px;
}

.projectTitle {
    color: white;
    text-align: center;
    font-weight: bold;
}

.projectSchem {
    display: grid;
    width: 100%;
    aspect-ratio: 1;
    gap: 7px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.room {
    background-color: $darkGreen;
    border-radius: 5px;
}

.disabled {
    filter: opacity(0);
    pointer-events: none;
}

.addModule {
    z-index: 4;
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    /* Прозрачность фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

.addModuleSpan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.addModuleFormContent {
    grid-area: 1/1/2/2;
    width: 25vw;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px 0px white;
}

.addModuleInputSpan {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputLabel {
    color: $light
}

.addModuleInput {
    border-radius: 10px;
    background-color: transparent;
    border: #888888 1px solid;
    padding: 10px;
    outline: none;
    color: white;
}

.addModuleTitle {
    color: $lightGreen;
    text-align: center
}

.submitAddModuleFormBtn {
    background-color: $lightGreen;
    color: white;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.submitAddModuleFormBtn:disabled {
    background-color: $darkGreen;
}

.closeAddModuleBtn {
    grid-area: 1/1/2/2;
    background: none;
    border: none;
    z-index: 3;
    width: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
    margin-top: 10px;
    justify-self: end;
    cursor: pointer;
}

.closeAddModuleBtn>img {
    transform: rotate(45deg)
}
.furnitureCardSpan > a{
    text-decoration: none;
}
.furnitureCardSpan > a > img{
    border-radius: 10px;
}