<span class="body">
  <app-navigation-panel></app-navigation-panel>
  <app-create-furniture [furnitureData]="furnitureData"></app-create-furniture>
  <span class="functionalBtns">
    <button title="Удалить выбранный цвет" [style.background-color]="deleteColorCalculate()" *ngIf="getCurrentColorId()!==undefined" (click)="deleteColor()" class="functionalBtn deleteBtn deleteColorBtn colorCircle">
        <img src="/assets/images/cancelIcon.svg" alt="x" srcset="">
    </button>
    <button (click)="idPage==='new' ? createFurnitureCard() : updateFurnitureCard()" class="functionalBtn confirmBtn">
      {{idPage === 'new' ? 'Создать' : 'Обновить'}}
    </button>
    <button (click)="idPage === 'new'?clearFurnitureCard():deleteFurnitureCard()" [title]="idPage === 'new' ? 'Очистить форму' : 'Удалить карточку мебели'" class="functionalBtn deleteBtn">
      <img [src]=" 'assets/images/'+(idPage === 'new'?'addIcon.svg':'deleteIcon.svg')"
        [style.rotate]="idPage === 'new'?'45deg':'0deg'"
         alt="">
    </button>
  </span>
</span>