<span class="body">
  <app-navigation-panel></app-navigation-panel>
  <h1 *ngIf="!furnitureId" class="сategoryTitle">{{capitalizeFirstLetter(categoryName??'all categories')}}</h1>
  <span *ngIf="furnituresArray" class="shopModule">
    <span *ngIf="furnitureId" class="viewFurnitureSpan">
      <button (click)="closeFurniture()" class="closeFurniture">
        <img src="/assets/images/addIcon.svg" alt="">
      </button>
      <span class="furnitureCard">
        <app-view-furniture [furnitureId]="furnitureId"></app-view-furniture>
        <button (click)="openAddModule()" class="choseAddProjectBtn">Add</button>
      </span>
    </span>
    <span *ngIf="!furnitureId" class="mainArea">
      <span class="params">
        <span class="furnitureCategoriesButtonsSpan">
          <button (click)="changeCategory(index)" class="furnitureCategoryButton"
            *ngFor="let categoryName of furnitureCategoryDataArray; let index = index">
            {{categoryName}}
          </button>
          <button (click)="changeCategory(null)" class="furnitureCategoryButton">
            All
          </button>
        </span>
      </span>
      <span class="сategory">
        <div *ngFor="let furnitureData of furnituresArray" class="furnitureItem">
          <h2 class="furnitureTitle">{{furnitureData.name}}</h2>
          <img loading="lazy" class="furniturePreview" [src]="furnitureData.preview" alt="">
          <a class="furnitureLink"
            [routerLink]="'/shop/'+(categoryName??'all')+'/'+furnitureData.id">{{furnitureData.cost}}</a>
        </div>
      </span>
    </span>
  </span>
</span>
<span [ngClass]="{'disabled': !openAddModuleToggle}" class="addModule">
  <span class="addModuleSpan" >
      <button (click)="closeAddModule()" class="closeAddModuleBtn" type="button">
          <img loading="lazy"  src="/assets/images/addIcon.svg" alt="">
      </button>
      <span *ngIf="userProjects" class="addModuleFormContent">
        <h2 class="addModuleTitle">Projects</h2>
        <span *ngFor="let projectsData of userProjects;let planId = index" >
          <h3>{{projectsData.name}}</h3>
          <a *ngFor="let roomData of projectsData.rooms;let roomId=index" [routerLink]="getPlanUrl(planId,roomId)">{{roomData.name}}</a>
        </span>
          <a routerLink="/plan" *ngIf="userProjects!.length==0" class="noProjectsBtn">Create a plan</a>
      </span>
  </span>
</span>