<span class="body">
  <app-navigation-panel></app-navigation-panel>
  <h1 *ngIf="!furnitureId" class="categoryTitle" title="Категория">{{currentCategoryId!==undefined?categoryArray[currentCategoryId].translateMany:'Все'}}</h1>
  <span *ngIf="furnituresArray" class="shopModule">
    <span *ngIf="furnitureId" class="viewFurnitureSpan">
      <button (click)="closeFurniture()" class="closeFurniture" title="Закрыть">
        <img src="/assets/images/addIcon.svg" alt="Закрыть">
      </button>
      <span class="furnitureCard">
        <app-view-furniture [furnitureId]="furnitureId"></app-view-furniture>
        <button (click)="openAddModule()" class="chooseAddProjectBtn" title="Добавить мебель">Добавить</button>
      </span>
    </span>
    <span *ngIf="!furnitureId" class="mainArea">
      <span class="params">
        <span class="furnitureCategoriesButtonsSpan">
          <button [class.active]="currentCategoryId===index" (click)="changeCategory(index)" class="furnitureCategoryButton" *ngFor="let categoryData of categoryArray; let index = index" title="Выбрать категорию">
            {{categoryData.translateOne}}
          </button>
          <button [class.active]="currentCategoryId==undefined" (click)="changeCategory(undefined)" class="furnitureCategoryButton" title="Все категории">
            Все
          </button>
        </span>
      </span>
      <span class="category">
        <div *ngFor="let furnitureData of furnituresArray;trackBy: trackByFn" class="furnitureItem">
          <h2 class="furnitureTitle" title="Название мебели">{{furnitureData.name}}</h2>
          <img loading="lazy" class="furniturePreview" [src]="furnitureData.previewUrl" alt="Превью мебели" title="Превью мебели">
          <a class="furnitureLink" [routerLink]="checkDesktop()?'/shop/'+(categoryName ?? 'all')+'/'+furnitureData.furnitureId:'/plan'" title="Цена мебели">{{furnitureData.cost}}</a>
        </div>
      </span>
    </span>
  </span>
</span>
<span [ngClass]="{'disabled': !openAddModuleToggle}" class="addModule">
  <span class="addModuleSpan">
      <button (click)="closeAddModule()" class="closeAddModuleBtn" type="button" title="Закрыть">
          <img loading="lazy" src="/assets/images/addIcon.svg" alt="Закрыть">
      </button>
      <span *ngIf="userProjects" class="addModuleFormContent">
        <h2 class="addModuleTitle" title="Проекты">Проекты</h2>
        <span *ngFor="let projectsData of userProjects; let planId = index">
          <h3 title="Название проекта">{{projectsData.name}}</h3>
          <a *ngFor="let roomData of projectsData.rooms; let roomId = index" [routerLink]="getPlanUrl(planId, roomId)" title="Название комнаты">{{roomData.name}}</a>
        </span>
        <a routerLink="/plan" *ngIf="userProjects!.length == 0" class="noProjectsBtn" title="Создать план">Создать план</a>
      </span>
  </span>
</span>