<span class="body" (click)="currentColorId ?? openColorModule($event)">
    <input class="furnitureTitle" [(ngModel)]="furnitureData.name" placeholder="Name">
    <span class="imageSlideSpan">
        <button *ngIf="currentColorId!==undefined&&colorsClientData[currentColorId].imagesData.images.length>0"
            (click)="removeImages()" class="editImagesBtn">
            <img loading="lazy" alt="editImages" src="/assets/images/editIcon.svg" alt=""></button>
        <app-image-slider
            *ngIf="currentColorId!==undefined&&colorsClientData[currentColorId].imagesData.images.length>0"
            [imagesArray]="colorsClientData[currentColorId].imagesData"
            (idMainImageEmitter)="changeIdMainImage($event)"></app-image-slider>
    </span>
    <div class="uploadImagesDiv"
        *ngIf="currentColorId===undefined||(currentColorId!==undefined&&colorsClientData[currentColorId].imagesData.images.length<=0)">
        <input (input)="onInputImages($event)" class="uploadImagesInput" multiple type="file" accept=".png,.jpeg,.jpg">
        <img loading="lazy" class="uploadImagesIcon" src="/assets/images/uploadIcon.png" alt="">
    </div>
    <span class="footer">
        <span class="leftPiece">
            <span class="colorSlider">
                <button (click)="openColorModule($event)" class="addColorBtn">
                    <img loading="lazy" src="/assets/images/addIcon.svg" alt="add">
                </button>
                <span class="colors" [style.--total-items]="furnitureData.colors.length.toString()">
                    <button (click)="openFurnitureVariant(index)"
                        *ngFor="let colorVariant of furnitureData.colors;let index=index" [attr.data-idColor]="index"
                        [style.background-color]="colorVariant.color" class="colorVariant"></button>
                </span>
            </span>
            <input type="file" accept=".obj" id="furnitureModel" class="furnitureModelInput">
        </span>
        <span class="informationSpan">
            <span class="descriptionSpan">
                <div class="descriptionTitle ">Description</div>
                <textarea placeholder="Some description" [(ngModel)]="furnitureData.description"
                    class="descriptionInformation"></textarea>
            </span>
            <span class="rightFunctionalSection">
                <div class="shopsTitle">Shops</div>
                <span class="shopsSpan">
                    <span class="shopsListSpan">
                        <button (click)="openShopsModule(index)" class="shopFunctions"
                            *ngFor="let shopData of furnitureData.shops; let index=index">
                            <div class="furnitureCost">{{shopData.cost}}</div>
                            <div class="linkShop">
                                <img loading="lazy" src="/assets/images/linkIcon.svg" alt="">
                            </div>
                        </button>
                    </span>
                    <button (click)="openShopsModule()" class="addShopButton"><img loading="lazy"
                            src="/assets/images/addIcon.svg" alt="open"></button>
                </span>
                <button (click)="openAdditional()" class="additionalFunctions">
                    Additional
                </button>
            </span>
        </span>
    </span>
</span>

<div class="addModule disabled">
    <ng-container *ngTemplateOutlet="addModuleTemplate"></ng-container>
</div>
<ng-template #colorModule>
    <form class="addModuleSpan" [formGroup]="colorForm" (ngSubmit)="addColor()">
        <button (click)="closeAddModule()" class="closeAddModuleBtn" type="button">
            <img loading="lazy" src="/assets/images/addIcon.svg" alt="">
        </button>
        <span class="addModuleFormContent">
            <h2 class="addModuleTitle">Furniture variant</h2>
            <span class="addModuleInputSpan">
                <label class="inputLabel" for="colorVariant">Color</label>
                <input formControlName="color" class="addModuleInput" id="colorVariant" type="text">
            </span>
            <button [disabled]="!colorForm.valid" class="submitAddModuleFormBtn" type="submit">Continue</button>
        </span>
    </form>
</ng-template>
<ng-template #shopsModule>
    <form class="addModuleSpan" [formGroup]="shopForm" (ngSubmit)="addShop()">
        <button (click)="closeAddModule()" class="closeAddModuleBtn" type="button">
            <img loading="lazy" src="/assets/images/addIcon.svg" alt="">
        </button>
        <span class="addModuleFormContent">
            <h2 class="addModuleTitle">Shop variant</h2>
            <span class="addModuleInputSpan">
                <label class="inputLabel" for="cost">Cost</label>
                <input formControlName="cost" class="addModuleInput" id="cost" type="text">
            </span>
            <span class="addModuleInputSpan">
                <label class="inputLabel" for="url">Link</label>
                <input formControlName="url" class="addModuleInput" id="url" type="text">
            </span>
            <span class="functionShopsModuleBtns">
                <button [disabled]="!shopForm.valid" class="submitAddModuleFormBtn" type="submit">Continue</button>
                <button (click)="deleteShop()" class="deleteItemAddModuleBtn" *ngIf="lastClickedShop!==undefined"><img
                        loading="lazy" src="/assets/images/deleteIcon.svg" alt=""></button>
            </span>
        </span>
    </form>
</ng-template>
<ng-template #additionalModule>
    <span class="addModuleSpan" (ngSubmit)="addShop()">
        <button (click)="closeAddModule()" class="closeAddModuleBtn" type="button">
            <img loading="lazy" src="/assets/images/addIcon.svg" alt="">
        </button>
        <span class="addModuleFormContent">
            <h2 class="addModuleTitle">Additional</h2>
            <span *ngIf="categoriesArray!==undefined" class="addModuleInputSpan">
                <label class="inputLabel" for="category">Category</label>
                <select aria-placeholder="Sofa" [(ngModel)]="furnitureData.category" class="categorySelect"
                    name="category" id="category">
                    <option [value]="category" *ngFor="let category of categoriesArray">{{category}}</option>
                </select>
                <label class="inputLabel" for="width">Width</label>
                <input [(ngModel)]="furnitureData.proportions.width" class="addModuleInput" id="width" type="text">
                <label class="inputLabel" for="length">Length</label>
                <input [(ngModel)]="furnitureData.proportions.length" class="addModuleInput" id="length" type="text">
                <label class="inputLabel" for="height">Height</label>
                <input [(ngModel)]="furnitureData.proportions.height" class="addModuleInput" id="height" type="text">
            </span>
            <button (click)="closeAddModule()" class="submitAddModuleFormBtn additionalBtn">Save</button>
        </span>
    </span>
</ng-template>