<span class="startScreenSpan">
    <div class="circleDecoration">
        <span class="circleDecorationSpan">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </span>
    </div>
    <span class="startInformationSpan">
        <span class="decorationFigures">
            <div class="quarter-circle"></div>
            <div class="square"></div>
            <div class="parallelogram"></div>
            <div class="circle"></div>
        </span>
        <h1 class="projectTitle">HOUSEQUALITY</h1>
        <span class="navigationStartMenu">
            <button class="startNavigationBtn" routerLink="/shop">Shop</button>
            <button class="startNavigationBtn" routerLink="/create/new">Furniture</button>
            <button class="startNavigationBtn" routerLink="/plan">Project</button>
            <a class="startNavigationBtn" routerLink="/account">Profile</a>
        </span>
    </span>
</span>

<span class="mainInformation">
    <app-navigation-panel></app-navigation-panel>
    <span class="projectPreviewSpan">
        <span class="someSpan">
            <h2 style="margin-bottom: 0;" class="chapterTitle">Ваш идеальный дом</h2>
            <h3 class="descriptionText">HouseQuality - Ваша платформа для создания идеального дома. Зайдите в наш магазин цифрового дизайна и начните свое путешествие!</h3>
            <span class="exampleFunctions">
                <div class="quarter-circle figureFunction">
                    <h2 class="exampleFunctionTitle">Стиль</h2>
                    <h3 class="exampleFunctionDescription">Ваша идея</h3>
                </div>
                <div class="square figureFunction" style="border-radius: 20px;">
                    <h2 class="exampleFunctionTitle">Дом</h2>
                    <h3 class="exampleFunctionDescription">Ваша зона</h3>
                </div>
                <div class="quarter-circle figureFunction">
                    <h2 class="exampleFunctionTitle">План</h2>
                    <h3 class="exampleFunctionDescription">Новый вид</h3>
                </div>
                <div class="square figureFunction" style="border-radius: 20px;">
                    <h2 class="exampleFunctionTitle">Мебель</h2>
                    <h3 class="exampleFunctionDescription">Большой выбор</h3>
                </div>
            </span>
        </span>

        <span class="someSpan">
            <h2 class="chapterTitle">Создаем и воплощаем ваши мечты</h2>
            <span class="chapterChangeBtnsSpan">
                <button (click)="openCreateFurniture()" [ngClass]="{'activeChapterBtn': furnitureTemplate==='create'}" class="changeChapterBtn">Добавить мебель</button>
                <button (click)="openViewFurniture()" [ngClass]="{'activeChapterBtn': furnitureTemplate==='view'}" class="changeChapterBtn">Посмотреть мебель</button>
            </span>
        </span>

        <span class="furnitureModule">
            <app-create-furniture (click)="navigateToPage('/create/new')" [furnitureData]="furnitureExamplesData" [colorsClientData]="exampleClientColors" [ngClass]="{'opacityDisable': furnitureTemplate==='view'}" class="furnitureModuleVariant"></app-create-furniture>

            <app-view-furniture (click)="navigateToPage('/shop')" [furnitureData]="viewExampleData" [ngClass]="{'opacityDisable': furnitureTemplate==='create'}" class="furnitureModuleVariant"></app-view-furniture>
        </span>

        <span class="someSpan">
            <h2 class="chapterTitle">Создайте свой дом</h2>
            <h3 class="descriptionText">Добавьте ваши комнаты и передвиьньте их</h3>
        </span>
        <app-plan-house (click)="navigateToPage('/plan')" [planHouse]="planHouseExampleData"></app-plan-house>
    </span>
</span>

<footer>
    <span class="footerColumnsSpan">
        <span class="footerColumn">
            <a (click)="focusOnFinder()" style="color:#DAD7CD" class="footerMenuBtn">Найти</a>
            <a routerLink="/account" class="footerMenuBtn">Аккаунт</a>
        </span>
        <span class="footerColumn">
            <a routerLink="/create/new" style="color:#DAD7CD" class="footerMenuBtn">Мебель</a>
            <a routerLink="/plan" class="footerMenuBtn">Планировка</a>
        </span>
    </span>
    <h2 class="projectFooterTitle">HouseQuality 2025</h2>
</footer>
