@font-face {
    font-family: 'Calypso';
    src: url('/assets/fonts/Calypso.ttf') format('truetype');
    font-weight: 400;
  }
@font-face {
    font-family: 'Courier New';
    src: url('/assets/fonts/Courier New.ttf') format('truetype');
    font-weight: 400;
  }
* {
    font-family: 'Courier New', Courier, monospace;
}
html {
    scroll-behavior: smooth;
}
$darkGreen: #344E41;
$lightGreen: #A3B18A;
$light: #DAD7CD;
img {
    max-width: 100%;
    max-height: 100%;
}