@import 'base.scss';

.body {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.furnitureTitle {
    color: white;
    text-align: center;
    margin: 0;
}

.uploadImagesDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 60px;
    place-items: center;
    margin: 60px auto;
}

.uploadImagesInput {
    grid-area: 1/1/2/2;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.uploadImagesIcon {
    grid-area: 1/1/2/2;
    width: 100%;
}

.colorSlider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    width: 30%;
    height: 300px;
    aspect-ratio: 1;
    position: relative;
    --radius: 60px;
}

.colors > .colorVariant {
    --angle: calc(360deg / var(--total-items) * (var(--index) - 1));
    transform: rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1 * var(--angle)));
}

.colors {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.colorVariant {
    cursor: pointer;
    box-shadow: 0 0 10px 0px white;
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border: 5px solid black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.colors > .colorVariant:nth-child(1) { --index: 1; }
.colors > .colorVariant:nth-child(2) { --index: 2; }
.colors > .colorVariant:nth-child(3) { --index: 3; }
.colors > .colorVariant:nth-child(4) { --index: 4; }
.colors > .colorVariant:nth-child(5) { --index: 5; }
.colors > .colorVariant:nth-child(6) { --index: 6; }
.colors > .colorVariant:nth-child(7) { --index: 7; }
.colors > .colorVariant:nth-child(8) { --index: 8; }

.addColorBtn {
    border-radius: 50%;
    grid-area: 1/1/2/2;
    width: calc(40px - 10px);
    aspect-ratio: 1;
    z-index: 3;
    padding: 5px;
    background-color: black;
    display: flex;
    place-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0px white;
}

.footer {
    width: 100%;
    display: flex;
    background-color: black;
}

.informationSpan {
    display: flex;
    gap: 5px;
    width: 75%;
}

.descriptionSpan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.descriptionTitle {
    background-color: $darkGreen;
    color: white;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    width: calc(100% - 30px);
    text-align: center;
}

.descriptionInformation {
    color: white;
    padding: 0px 10px;
}

.shopsSpan {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s ease-in-out;
}

.shopsTitle {
    width: calc(100% - 30px);
    text-align: center;
    background-color: $darkGreen;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    color: white;
}

.shopFunctions {
    width: 100%;
    display: flex;
    gap: 5px;
    height: 45px;
    background: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.furnitureCost {
    width: 75%;
    background-color: $lightGreen;
    color: white;
    border-radius: 10px 0px 0px 10px;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 10px 0px white;
    border: none;
    text-decoration: none;
}

.shopsListSpan {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkShop {
    width: 25%;
    background-color: $lightGreen;
    border-radius: 0px 10px 10px 0px;
    border: none;
    place-content: center;
    display: flex;
    box-shadow: 0 0 10px 0px white;
    cursor: copy;
}

.linkShop > img {
    width: 40px;
}
