@import 'base.scss';

app-navigation-panel {
    position: fixed;
    top: 30px;
    z-index: 3;
}

.body {
    min-height: 200vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paralaxImageSpan {
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    place-items: center;
}
.additionalFuntions{
    display: flex;
    justify-content: space-between;
    button{
        background: none;
        border: none;
        color:$light;
        text-decoration: underline;
        cursor:pointer;
    }
}
.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    gap:10px;
    margin-bottom: 15px;

    input {
        width: calc(100%/4 - 5px);
        aspect-ratio: 1;
        text-align: center;
        border-radius: 15px;
        background:none;
        border: $lightGreen 2px solid;
        margin: 0 5px;
        outline: none;
        color:$light;
        transition: border-color 0.3s;

        &:focus {
            border-color: $light;
        }
    }
}

.scrollBtn {
    position: fixed;
    color: $light;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 10px;
    background: black;
    padding: 0 30px;
    box-shadow: 0 0 10px 0 white;
    font-size: 5vw;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

.scrollBtn:hover {
    color: $lightGreen;
}
.changeTemplateAnimation{
    animation:changeTemplateKeyframe 1s forwards ease-in-out
}
@keyframes changeTemplateKeyframe {
    0%,100%{
        transform: scale(1);
    }
    10%,25%,75%,90%{
        transform: scale(1.25);
    }
    40%,65%{
        transform: scale(0.25);
    }
}
.houseBackground {
    transition: opacity 0.3s linear;
}

.houseBackground,
.houseFront {
    grid-area: 1/1/2/2;
    height: 100%
}

.paralaxSecondImageSpan {
    width: 100vw;
    opacity: 0.7;
}

.paralaxSecondImageSpan>img {
    width: 100%
}

.floorDecration {
    width: 100vw;
    height: 300px;
    z-index: 2;
    background-color: black;
}

.houseFront {
    height: 100vh;
    z-index: 2;
}

.formModule {
    background-color: black;
    border-radius: 15px;
    padding: 30px 45px;
    width: clamp(220px, calc(25vw - 90px), 300px);
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0px white;
}

.loginModule {
    z-index: 1;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addModuleSpan {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.addModuleInputSpan {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputLabel {
    color: $light
}

.addModuleInput {
    border-radius: 10px;
    background-color: transparent;
    border: #888888 1px solid;
    padding: 10px;
    outline: none;
    color: white;
}

.addModuleTitle {
    color: $lightGreen;
    text-align: center
}

.submitAddModuleFormBtn {
    background-color: $lightGreen;
    color: white;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.submitAddModuleFormBtn:disabled {
    background-color: $darkGreen;
}

.disabled {
    filter: opacity(0);
    pointer-events: none;
}

.closeAddModuleBtn {
    background: none;
    border: none;
    z-index: 3;
    width: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
    margin-top: 10px;
    align-self: end;
    cursor: pointer;
}

.closeAddModuleBtn>img {
    transform: rotate(45deg)
}

.disabledOpacity {
    opacity: 0;
}