@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono", monospace;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
$darkGreen: #344E41;
$lightGreen: #A3B18A;
$light: #DAD7CD;
img {
    max-width: 100%; /* Изображение не превышает ширину контейнера */
    max-height: 100%;    /* Высота подстраивается пропорционально */
}