<nav class="navigationSpan">
    <a routerLink="/" class="homeBtn navigationBtn">HQ</a>

    <button [class.active]="menuOpen" class="hamburger-menu" (click)="toggleMenu()" *ngIf="isMobileView">
        <img ng loading="lazy" src="/assets/images/hamburgerMenuIcon.svg" alt="menu">
    </button>

    <div class="desktop-content" *ngIf="!isMobileView">
        <app-finder></app-finder>
        <span class="mainBtns">
            <a title="Аккаунт" routerLink="/account" class="accountBtn navigationBtn">
                <img loading="lazy" src="/assets/images/accountIcon.svg" alt="account">
            </a>
            <a title="Расстановка" routerLink="/plan" class="createBtn navigationBtn">
                <img src="/assets/images/planIcon.svg" alt="plan">
            </a>
            <a title="Добавить мебель" routerLink="/create/new" class="navigationBtn">
                <img loading="lazy" src="/assets/images/furnitureIcon.svg" alt="furniture">
            </a>
            <a title="Магазин" routerLink="/shop" class="navigationBtn">
                <img loading="lazy" src="/assets/images/shopIcon.svg" alt="shop">
            </a>
        </span>
    </div>

    <div class="mobile-menu" *ngIf="isMobileView && menuOpen">
        <app-finder></app-finder>
        <a routerLink="/account" class="mobile-menu-item">
            <img loading="lazy" src="/assets/images/accountIcon.svg" alt="account">
            <div>Аккаунт</div>
        </a>
        <a routerLink="/plan" class="mobile-menu-item">
            <img src="/assets/images/planIcon.svg" alt="plan">
            <div>Расстановка</div>
        </a>
        <a routerLink="/create/new" class="mobile-menu-item">
            <img loading="lazy" src="/assets/images/furnitureIcon.svg" alt="furniture">
            <div>Мебель</div>
        </a>
        <a routerLink="/shop" class="mobile-menu-item">
            <img loading="lazy" src="/assets/images/shopIcon.svg" alt="shop">
            <div>Магазин</div>
        </a>
    </div>
</nav>