<span class="planHouseModule">

  <span class="addModuleSpan">
    <button (click)="
    currentViewRoom === undefined
    ? toggleOpenRoomModule()
    : (sceneOpenToggle === true
      ? closeScene()
      : closeViewRoom())
    " [style.rotate]="currentViewRoom === undefined ? '0deg' : '225deg'" class="addModuleBtn" type="button"
      tabindex="0">
      <img loading="lazy" src="/assets/images/addIcon.svg" style="transition: all 0.5s;pointer-events: none;" alt="">
    </button>
    <form [style.opacity]="currentViewRoom===undefined?1:0" [formGroup]="roomForm"
      (ngSubmit)="currentIdClickedRoom===undefined?addRoom():updateRoom()" class="addModuleFormContent">
      <h2 class="addModuleTitle">Room parameters</h2>
      <span class="addModuleInputSpan">
        <label class="inputLabel" for="width">Width</label>
        <input placeholder="5m" formControlName="width" class="addModuleInput" id="width" type="text">
      </span>
      <span class="addModuleInputSpan">
        <label class="inputLabel" for="length">Length</label>
        <input placeholder="3m" formControlName="length" class="addModuleInput" id="length" type="text">
      </span>
      <span class="addModuleInputSpan">
        <label class="inputLabel" for="height">Height</label>
        <input placeholder="1.7m" formControlName="height" class="addModuleInput" id="height" type="text">
      </span>
      <span class="addModuleInputSpan">
        <label class="inputLabel" for="name">Name</label>
        <input placeholder="Bedroom" formControlName="name" class="addModuleInput" id="name" type="text">
      </span>
      <span class="functionShopsModuleBtns">
        <button [disabled]="!roomForm.valid" class="submitAddModuleFormBtn" type="submit">Continue</button>
        <button (click)="deleteRoom()" class="deleteItemAddModuleBtn" *ngIf="currentIdClickedRoom !== undefined">
          <img loading="lazy" src="/assets/images/deleteIcon.svg" alt="">
        </button>
      </span>
    </form>
  </span>
  <span class="workArea">
    <app-scene #scene (saveObjectsEmitter)="updateRoomObjects($event)"
      [style.opacity]="sceneOpenToggle&&currentViewRoom!==undefined?1:0"
      [style.z-index]="sceneOpenToggle&&currentViewRoom!==undefined?1:0"
      [roomData]="currentViewRoom!==undefined?planHouse[currentViewRoom]:lastPlanHouse"></app-scene>
    <span class="roomSpan">
        <button *ngFor="let roomData of planHouse; let index = index" class="room" [style.grid-area]="roomData.gridArea"
          [style.display]="((currentViewRoom!==undefined&&currentViewRoom==index)||currentViewRoom===undefined)&&!sceneOpenToggle?'block':'none'"
          [attr.data-index]="index" (touchstart)="currentViewRoom===undefined?clickRoom($event, index):openScene()"
          (keydown.enter)="currentViewRoom===undefined?clickRoom($event, index):openScene()"
          (mousedown)="currentViewRoom===undefined?clickRoom($event, index):openScene()">
          {{roomData.name}}
        </button>
      <span *ngIf="!sceneOpenToggle&&currentViewRoom!==undefined" class="furnitureCategoriesButtonsSpan">
        <a [href]="'/shop/'+categoryName.toLowerCase()" class="furnitureCategoryButton"
          *ngFor="let categoryName of furnitureCategoryDataArray; let index = index">
          {{categoryName}}
        </a>
      </span>
    </span>
  </span>
</span>